<h2><%= "#{@run.name} (#{@run.id})" %></h2>
<table class="table">
  <thead></thead>
  <tbody>
    <tr><td class="bold">Started at</td>         <td><%= pp_time @run.created_at %></td></tr>
    <tr><td class="bold">Finished at</td>        <td><%= pp_time @run.updated_at %></td></tr>
    <tr><td class="bold">Run for Processing</td> <td><%= @run.run_for_processing? ? "✓" : "❌" %></td></tr>
    <tr><td class="bold">Eads Processed</td>     <td><%= @run.eads_processed %></td></tr>

  </tbody>
</table>

<h3>Finding Aids</h3>
<table id="finding-aids" class="table table-striped table-filtered" data-filter-on="td:first-child,td:nth-child(2)">
  <thead>
    <th>EADID</th>
    <th>UnitTitle (UnitID)</th>
    <th>Repository (Code)</th>
  </thead>
  <tbody>
    <% @run.finding_aid_versions.each do |fav| %>
      <tr>
        <td><%= link_to fav.eadid, fav %></td>
        <td><%= "#{fav.unittitle} (#{fav.unitid})" %></td>
        <td><%= fav.finding_aid.repository.pp_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
